@import '../components/HomePage/_variables.scss'; // Adjust the path if needed
@import '../components/HomePage/_mixins.scss'; // Adjust the path if needed
@import '../components/HomePage/_topNavbar.scss'; // Adjust the path if needed
@import '../components/HomePage/_sidebar.scss'; // Adjust the path if needed

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile-content {
  padding: 20px;
  flex-grow: 1;
}

.profile-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: $primary-color; // Adjust according to your variables
    color: white;
  }
}