.pie-chart-container {
    text-align: center;
  
    h4 {
      font-size: 16px;
      color: $primary-color;
      margin-bottom: 10px;
    }
  
    .pie-chart {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: conic-gradient(
        #00bcd4 0% 39.8%,        // First slice (1st Year)
        #4fc3f7 39.8% 64.2%,     // Second slice (2nd Year)
        #0288d1 64.2% 85.2%,     // Third slice (3rd Year)
        #01579b 85.2% 100%       // Fourth slice (4th Year)
      );
    }
  
    &.course-chart {
      background: conic-gradient(
        #00bcd4 0% 48%,          // First slice (BSIT)
        #4fc3f7 48% 80%,         // Second slice (BSCS)
        #0288d1 80% 88%,         // Third slice (BSEMC-GD)
        #01579b 88% 97.7%,       // Fourth slice (BSEMC-DA)
        #03a9f4 97.7% 100%       // Fifth slice (BLIS)
      );
    }
  }
  