.top-navbar {
    display: flex;
    align-items: center;
    background-color: $primary-color; // Top bar color
    padding: 10px 20px;
    margin: 0; // Ensure no margin
    width: 100%; // Ensure full width
    position: relative; // Optional: to avoid positioning issues
    box-shadow: none; // Optional: if you want to remove any shadows
  
    .toggle-button {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      margin-right: 0px; // No margin
      @include transition(color, 0.3s, ease);
  
      &:hover {
        color: lighten($primary-color, 15%);
      }
    }
  }