// _urls.scss

$user-icon: 'https://img.icons8.com/ios-filled/30/cc8e00/user.png'; // User icon URL
$lock-icon: 'https://img.icons8.com/ios-filled/30/cc8e00/lock.png'; // Lock icon URL
$background-image: 'https://cdn.discordapp.com/attachments/725332328494399539/1290657332732362782/Copy_of_Blue_Modern_How_to_Draw_Anime_Youtube_Thumbnail_3.png?ex=66fd41cf&is=66fbf04f&hm=600151ceecfd854a31dfc8bbc4c2cfa736722df6bc4d4058b89a98df7d7432ce&';


// You can create a map for easy export
$icons: (
  user: $user-icon,
  lock: $lock-icon
);
