// _urls.scss

$user-icon: 'https://img.icons8.com/ios-filled/30/cc8e00/user.png'; // User icon URL
$lock-icon: 'https://img.icons8.com/ios-filled/30/cc8e00/lock.png'; // Lock icon URL


// You can create a map for easy export
$icons: (
  user: $user-icon,
  lock: $lock-icon
);
